
.main-content {
  // width: 100% !important;
  // height: 100% !important;
  // overflow-y: scroll;
  // overflow-x: hidden;
  // margin: 10px 5px 10px 5px;
}
.main-app {
  height: 100%;
  width: 100%;
}

.app-header {
  width: inherit;
}

.app-footer {
  width: inherit;
}
