<div [ngStyle]="{'background-color' : this.color }" class="reminder-dialog">

  <div mat-dialog-actions *ngIf="this.mode === 'R'">
    <button mat-icon-button (click)="this.edit = !this.edit">
      <mat-icon *ngIf="!this.edit">edit</mat-icon>
      <mat-icon *ngIf="this.edit">highlight_off</mat-icon>
    </button>
    <button mat-icon-button (click)="this.openAlertDialog()">
      <mat-icon>delete</mat-icon>
    </button>


  </div>
  <div *ngIf="this.mode === 'C'">
    <h2>New Reminder</h2>
  </div>
  <form [formGroup]="this.reminderFormGroup">
    <div mat-dialog-content class="dialog-content">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput type="text" formControlName="title" placeholder="Your reminders name...">
        </mat-form-field>
        <mat-error *ngIf="this.getFormControl('title')?.invalid && this.getFormControl('title')?.touched">
          {{getErrorMessage('title')}}
        </mat-error>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-around center">
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <mat-form-field appearance="fill">
            <mat-label>Start Date</mat-label>
            <input matInput formControlName="startDateDate" [matDatepicker]="startDateDatePicker">
            <mat-datepicker-toggle matSuffix [for]="startDateDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDateDatePicker></mat-datepicker>
          </mat-form-field>
          <div>
            <mat-form-field appearance="fill">
              <input matInput type="text"
              matInput
              readonly [ngxTimepicker]="startDatePicker" [format]="24" formControlName="startDateTime">
              <mat-icon matSuffix (click)="openFromIcon(startDatePicker)">schedule</mat-icon>
            </mat-form-field>
            <ngx-material-timepicker #startDatePicker ></ngx-material-timepicker>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <mat-form-field appearance="fill">
            <mat-label>End Date</mat-label>
            <input matInput formControlName="endDateDate" [matDatepicker]="endDateDate">
            <mat-datepicker-toggle matSuffix [for]="endDateDate"></mat-datepicker-toggle>
            <mat-datepicker #endDateDate></mat-datepicker>
          </mat-form-field>
          
          <div>
            <mat-form-field appearance="fill">
              <input matInput type="text"
              matInput
              readonly [ngxTimepicker]="endDatePicker" [format]="24" formControlName="endDateTime">

              <mat-icon matSuffix (click)="openFromIcon(endDatePicker)">schedule</mat-icon>
            </mat-form-field>
            <ngx-material-timepicker #endDatePicker ></ngx-material-timepicker>
          </div>
        </div>
      </div>
      <mat-error *ngIf="this.doesDateHaveError()">
        {{getDateErrorMessage()}}
      </mat-error>


      <div>
        <mat-form-field appearance="fill">
          <mat-label>Priority</mat-label>
          <mat-select formControlName="priority">
            <mat-option *ngFor="let priority of priorities" [value]="priority.value" [ngStyle]="{'background-color' : priority.color }" >
              {{priority.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error *ngIf="this.getFormControl('priority')?.invalid && this.getFormControl('priority')?.touched">
          {{getErrorMessage('priority')}}
        </mat-error>
      </div>

      <div>
        <!-- <mat-form-field appearance="fill"> -->
            
          <mat-slide-toggle formControlName="isDone">
            Done
          </mat-slide-toggle>
        <!-- </mat-form-field> -->
      </div>



    </div>


    <div mat-dialog-actions>
        <button [disabled]="this.disable" mat-raised-button mat-dialog-close >Close</button>
        
        <button *ngIf="this.mode === 'C'" [disabled]="this.disable" mat-raised-button color="primary" (click)="this.createNewReminder()">Create</button>
        <button *ngIf="this.mode === 'R'" [disabled]="this.disable"  mat-raised-button color="primary" (click)="this.updateReminder()">Update</button>

    </div>
  </form>
</div>

